{% extends 'webapplication/base.html' %}
{% load static %}

{%block header_extends %}

{% endblock %}

{% block title %}
IDA ICE API - Add floor
{% endblock %}


{% block content%}

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Form Wizards</h3>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Form Wizards <small>Sessions</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
             </ul>
              <div class="clearfix"></div>
        </div>
        <div class="x_content">



          <!-- Smart Wizard -->
            <p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>
            <div id="wizard" class="form_wizard wizard_horizontal">
              <ul class="wizard_steps">
                <li>
                  <a href="#step-1">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                                      Step 1<br />
                                      <small>Step 1 insert parameters</small>
                                  </span>
                  </a>
                </li>
                <li>
                  <a href="#step-2">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                                      Step 2<br />
                                      <small>Step 2 simulating</small>
                                  </span>
                  </a>
                </li>
                <li>
                  <a href="#step-3">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                                      Step 3<br />
                                      <small>Step 3 results</small>
                                  </span>
                  </a>
                </li>

              </ul>


              <div id="step-1">
                <form class="form-horizontal form-label-left" action="" enctype="multipart/form-data" >
                  {% csrf_token %}

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nfloorIn">Number of Floor
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" id="nfloorIn" required="required" class="form-control col-md-7 col-xs-12" min="1">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hceilingIn">Ceiling Height
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" id="hceilingIn" name="last-name" required="required" class="form-control col-md-7 col-xs-12" min="1">
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="uploadFile"> Choose File
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" id="uploadFile" name="uploadFile" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <input type="submit" id="btnSubmit" >

                </form>

              </div>
              <div id="step-2">
                <h2 class="StepTitle">Step 2 Loading</h2>
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

              </div>
              <div id="step-3">
                <h2 class="StepTitle">Step 3 Content</h2>
                <p>
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                  in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>

            </div>
            <!-- End SmartWizard Content -->

          </div>
      </div>


        </div>
        </div>
      </div>
  </div>
















<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-8">-->
<!--            <div class="form-group">-->
<!--                    <label for="nfloorIn">Number of Floor</label>-->
<!--                    <input type = "number" class="form-control" id= "nfloorIn" required=True min="1">-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                    <label for="hceilingIn">Elements:</label>-->
<!--                    <input type = "number" class="form-control" id= "hceilingIn" required=True min="1">-->
<!--            </div>-->
<!--            <button id="btnSubmit" type="submit" class="btn btn-primary">Apply</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



{% endblock %}

  {% block javascripts %}
  {{ block.super}}
  <!-- jQuery Smart Wizard -->
  <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<script>
    $("#btnSubmit").click(function(){
       var value1 = $("#nfloorIn").val();
       var value2 = $("#hceilingIn").val();
       var file_obj = $('[type=file]')[0].files[0];
       var csrf=$('[name="csrfmiddlewaretoken"]').val();
       var formData = new FormData();
       formData.append("nfloor",value1);
      formData.append("hceiling",value2);
      formData.append("uploadfile",file_obj);
      formData.append("csrfmiddlewaretoken",csrf);
       console.log(value1);
       console.log(value2);
       console.log(file);

       $.ajax({
           url:'',
           type:'post',
           data: formData,
           processData:false,
           contentType:false,
           success:function (res) {
                console.log(res);
           }
       });
    });
</script>
{% endblock javascripts %}


