{% extends 'webapplication/base.html' %}
{% load static %}

{%block header_extends %}

{% endblock %}

{% block title %}
IDA ICE API - Add floor
{% endblock %}


{% block content%}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Apply Window to Wall Ratio</h3>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Modify some elements</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
<!--              input form-->
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <p>Initially the window width is 1m in four orientations of the building</p>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="largest_width">Largest window width you want
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="largest_width" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="simu_time">Simulation time
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="simu_time" name="simu_time" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="reset" id="btnReset">Reset</button>
                    <button type="button" class="btn btn-success" id="btnSubmit">Submit</button>
                  </div>
                </div>

              </form>

<!--show results-->
              <div class="ln_solid"></div>
              <i class="fa fa-refresh fa-spin" style="visibility: hidden" id="spinner"></i>
              <h3 id="graph_name"></h3>
              <div id="res_power" style="height:0px;"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
  <script src="/static/build/js/wwr.js"></script>
{% endblock %}